@import "_reset";
@import "_variables";
@import "_font";

* {
  box-sizing: border-box;
}

body {
  margin-top: 55px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.75);
  .header__left,
  .header__right {
    display: flex;
    align-items: center;
  }
  .header__left {
    font-size: 25px;
    @include name("left");
  }
  .header__right {
    @include name("right");
  }
}

main {
  .intro {
    position: relative;
    width: 100%;
    height: calc(100vh - 55px);
    .picture {
      height: 80%;
      display: flex;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    .comment {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 600;
    }
    .icon {
      position: absolute;
      bottom: 55px;
      right: 55px;
      font-size: 30px;
      color: black;
    }
  }
}
