@import "_button.scss";
@import "_font";
@import "_reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  margin-top: 55px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.75);
  .header__left,
  .header__right {
    display: flex;
    align-items: center;
  }
  .header__left {
    font-size: 25px;
    @include name("left");
  }
  .header__right {
    @include name("right");
  }
}

main {
  .intro {
    position: relative;
    width: 100%;
    height: calc(100vh - 55px);
    .picture {
      height: 80%;
      display: flex;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    .comment {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 600;
    }
    .icon {
      position: absolute;
      bottom: 55px;
      right: 55px;
      font-size: 30px;
      color: black;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .instruction {
    padding-bottom: 160px;
    width: 1040px;
    .text {
      padding-top: 60px;
      padding-bottom: 30px;
      .about {
        padding-right: 75px;
        font-size: 20px;
        font-weight: 600;
      }
      .announce {
        font-size: 33px;
        line-height: 1.4;
        letter-spacing: -0.7px;
      }
    }
    a {
      text-decoration: none;
      font-size: 22px;
      font-weight: 600;
      color: black;
    }
  }
}

section {
  width: 1040px;
  height: 405px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  &:not(:first-child) {
    border-top: 0.5px solid $grey;
  }
  &:nth-child(odd) {
    .picture {
      order: -1;
    }
  }
  &:nth-child(7),
  &:nth-child(8) {
    .picture {
      order: 1;
    }
  }
  .content {
    width: 505px;
    .announce {
      font-size: 33px;
      line-height: 1.3;
      letter-spacing: -0.7px;
    }
    .title {
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 40px;
    }
    .buttons {
      margin-top: 55px;
      @extend %button;
    }
  }
  .picture {
    width: 505px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &.different {
    height: 605px;
    .left,
    .right {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 40px;
      }
      .picture {
        width: 505px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .comment {
        font-size: 23px;
        line-height: 1.3;
      }
      .buttons {
        @extend %button;
        margin-top: auto;
      }
    }
  }

  &.footer {
    height: 318px;
    article {
      padding-right: 50px;
      .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 50px;
      }
      .comment {
        font-size: 23px;
        letter-spacing: -1px;
      }
      .buttons {
        margin-top: 40px;
        @extend %button;
      }
    }
  }
}

footer {
  height: 300px;
  background-color: #464646;
  color: white;
  display: flex;
  justify-content: center;
  section {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -3px;
    }
    .links > * {
      display: block;
      &.copyright {
        padding-top: 30px;
      }
    }
  }

  .right {
    .links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      letter-spacing: -1px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}
